.chosen-options {
  padding: 37px 20px 40px;
  width: 132px;
  flex-shrink: 0;
  background-color: var(--orange4);
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden;

  @media (max-width: 992px) {
    padding: 25px 15px;
    width: 90px;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 15px;
    border-radius: 8px 8px 0 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    height: 574px;
    max-height: 574px;
    overflow: hidden;

    @media (max-width: 992px) {
      height: 474px;
      max-height: 474px;
    }

    @media (max-width: 768px) {
      height: auto;
      flex-direction: row;
      margin-top: 15px;
      width: 100%;
      overflow: auto;
    }

    .circle {
      flex-shrink: 0;
      width: 54px;
      height: 54px;
      color: #fff;
      background-color: var(--orange2);
      box-shadow: 1px 1px 4px 2px rgba(120,120,120,0.08);
      pointer-events: none;

      &:not(:last-child) {
        margin-bottom: 20px;

        @media (max-width: 768px) {
          margin-bottom: 0;
          margin-right: 15px;
        }
      }
    }
  }
}
