.product {
  display: flex;
  margin-top: 45px;

  @media (max-width: 992px) {
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 80px;

    @media (max-width: 992px) {
      margin-right: 50px;
    }

    @media (max-width: 768px) {
      margin-right: 0;
    }

    @media (max-width: 640px) {
      flex-direction: column;
    }
  }
}
